
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<form action="/admin/create" method="POST" class="flex flex-col justify-center space-y-4">
    <input type="name" name="name" placeholder="Name" class="p-4"required>
    <input type="email" name="email" placeholder="Email" class="p-4" required>
    <input type="password" name="password" placeholder="Password" class="p-4" required>
    <select name="role" class="p-4">
        <option value="user">User</option>
        <option value="admin">Admin</option>
    </select>
    <div class="flex justify-center">
        <button type="submit" class="bg-gray-500 shadow-2xl rounded-xl p-3">Add User</button>
    </div>


</form>