<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="/static/js/login_auth.js" defer></script>
    </head>
    <body class="bg-gray-500 h-screen flex justify-center items-center">
        <div class="flex flex-col justify-center bg-white rounded-xl shadow-xl  p-6">
            <form action="/login" method="POST" class="flex flex-col space-y-4">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="border-2"/>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="border-2"/>
                <span id="error" class="text-red-500"></span>
                <div class="flex justify-center">
                    <button type="submit" class="bg-gray-400 p-2 border-2 rounded-xl shadow-2xl transition transform hover:scale-105">Login</button>
                </div>
                
                <p>Don't have an account? Sign up <a href="/signup" class="text-blue-400 hover:underline">here</a></p>
            </form>
        </div>
        
    </body>
</html>